body {
    background: #F4F4F4;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 300;

}

a:link {
    text-decoration: none;
    font-weight: 400;
    color: #000;
}

a:visited {
    text-decoration: none;
    font-weight: 400;
    color: #F4F4F4;
}

/* font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif; */

/* font-family: 'Gamja Flower', cursive; */
/* font-family: 'Noto Sans KR', sans-serif; */

.title-section {
    /* margin: 10px; */
    color: #F4F4F4;
    font-family: 'Single Day', cursive;
    background: #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

hr.main-line {
    border: 3px solid #CF7500;
    /* border-radius: 5px; */
    width: 95%;
}

hr.under-title {
    border: 1px solid #CF7500;
    width: 50%;
}

hr.between-post {
    border: 1px solid #000;
    width: 80%;
}

hr.between-youtube {
    border: 1px solid darkgray;
    width: 80%;
}



h1 {
    font-size: 50px;
}

h3.main {
    text-align: left;
    padding-left: 40px;
    font-size: 30px;
}

/* .top-section {
    margin: 20px;
    text-align : center;

} */

.blog-sum {
    /* display: none; */
    position: relative;
    margin: auto;
    padding-top: 5px;
    width: 95%;
    /* display: inline-block; */
    background: #fff;
    vertical-align: top;
    padding-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-width: 700px;
}

.about-us {
    margin: 10px;
    background: #ffffff;
    display: inline-block;
    width: 17%;

    vertical-align: top;
}

.about-title {
    background: #F0A500;
    font-weight: 700;
    text-align: left;
    font-size: 24px;
    padding-left: 20px;
}

.about-img {
    height: 130px;
    padding: 5px;
}


.area-title {
    display: inline-block;
    text-align: left;
    width: 67%;
    font-size: 28px;
    font-weight: 700;
    padding: 10px;
}

.blog-more,
.kahoot-more,
.words-more {
    display: inline-block;
    text-align: right;
    width: 20%;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
}


.post-sum {
    margin: 10px;
    display: inline-block;
    width: 24%;
    vertical-align: top;
    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.post-title-sum {
    font-weight: 700;
    font-size: 18px;
    padding: 3px;
}

.post-img-sum {
    height: 85px;
}

.post-desc-sum {
    text-align: left;
    padding: 6px;
    height: 140px;
    overflow-y: hidden;
    /* white-space: pre-line; */
    /* text-overflow: ellipsis;     1줄에서만 작동*/
}

.post-sum-more {
    font-size: 12px;
    text-align: right;
    padding-bottom: 10px;
    padding-right: 20px;
}

.post-pop {
    display: none;
    width: 97%;
    background: #fff;

    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-height: 800px;
    z-index: 2;
}


.pop-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
}

.post-title-pop,
.post-title-more {
    position: relative;
    margin: auto;

    width: 80%;
    background: #F4F4F4;
    font-size: 24px;
    font-weight: 400;
    padding: 20px;
    max-width: 700px;

}

.post-img-pop,
.post-img-more {
    position: relative;
    margin: auto;
    width: 80%;
    background: #F4F4F4;

    padding: 20px;
    max-width: 700px;

}

img.post-img-pop,
img.post-img-more {
    width: 400px;
    background: #F4F4F4;
}

.post-desc-pop,
.post-desc-more {
    position: relative;
    margin: auto;
    width: 80%;
    background: #F4F4F4;
    min-height: 300px;
    padding: 10px;
    text-align: left;
    padding: 20px;
    max-width: 700px;
    line-height: 1.7;
}


.blog {

    display: none;

    width: 100%;
    background: #F4F4F4;

}

.close-blog,
.close-quiz,
.close-words {
    position: fixed;
    right: 8%;
    top: 18%;
    font-size: 30px;
    width: 100px;
}


.bottom-section {
    margin-top: 20px;
}

.word-sum {
    display: inline-block;
    margin: 10px;
    width: 47%;
    vertical-align: top;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-width: 430px;
}

.word-list,
.youtube-main {
    position: relative;
    height: 540px;
    text-align: center;
}

.word-inner-box {

    padding-top: 20px;
    vertical-align: middle;
}

.word-title {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.word-main {
    margin: 5px;
    display: inline-block;
    width: 120px;
    padding: 10px;
    vertical-align: middle;
    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 400;
    font-size: 20px;
}

.word-pop {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -185px;
    top: 10px;
    width: 370px;
    height: 250px;
    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.words {
    display: none;
    width: 85%;
    background: #F4F4F4;
    position: relative;
    margin: auto;
    /* padding-left: 10%;
    padding-right: 10%; */

}

.word-card {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    height: 200px;
    margin: 5px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.word-pop-word,
.word-card-word {

    margin: auto;
    padding: 10px;
    font-size: 22px;
    font-weight: 400;
}

.word-pop-definition,
.word-pop-example {
    margin: auto;
    padding: 10px 25px;
    font-size: 20px;
    text-align: left;

}

.word-card-definition,
.word-card-example {
    margin: auto;
    padding: 5px 15px;
    font-size: 18px;
    text-align: left;

}



.antonym-link {
    display: inline-block;
    position: absolute;
    width: 200px;
    padding: 12px;
    bottom: 80px;
    left: 49%;
    margin-left: -100px;
    vertical-align: middle;
    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 20px;

}

.quiz-sum {
    display: inline-block;
    margin: 10px;
    width: 47%;
    vertical-align: top;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-width: 430px;
}



.youtube-header {
    text-align: center;
    margin: 30px auto 20px auto;
}

.youtube-category {
    display: inline-block;
    background: #F0A500;
    color: #fff;
    font-weight: 400;
    padding: 10px 20px;
}

.youtube-title {
    display: inline-block;
    padding: 5px;
    font-weight: 400;
    font-size: 20px;
}

.youtube-quiz {
    display: none;
    width: 100%;
    background: #F4F4F4;

}

.youtube-iframe-more {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}

.youtube-more-right {
    display: inline-block;
    /* padding : 10px; */
    vertical-align: top;
    text-align: left;
    margin-left: 15px;
}

.youtube-title-more {
    font-size: 22px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 5px;
}

.more-kahoot {
    display: inline-block;
    /* margin-bottom: 50px; */
    background: #F0A500;
    padding-left: 5px 15px 5px 15px;
    font-size: 20px;

}

/* <div class="youtube-title-more">소가 된 사람</div>
<div class="kahoot-link more-kahoot"> */

.kahoot-link {
    background: #F0A500;
    padding: 5px;
    font-size: 20px;
    margin-top: 10px auto;
    width: 98%;
}

.bottom-kahoot {
    position: absolute;

    bottom: 20px;
    width: 98%;
}